.matcontain
{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    width:40vw;
   justify-content: space-around;
    margin:2px auto;
}

.clscard
{
     
    
    background-color: yellow;
    
}